*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-balck{
    outline: 1px solid black;
}

/*************** BACKGROUND-COLOR ***************/

#blue{
    background-color: rgba(44,62,80,255);
    color: white;
}

#aqua{
    background-color: rgba(26,188,156,255);
    color: white;
}

#lightblue{
    background-color: rgba(58,84,109,255);
}

/*************** CONTENT ***************/

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 75px;
}

.jumbo{
    margin-top: 75px;
}